html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #B5E2FA !important;
}

.navbar {
    background-color: #0FA3B1 !important;
}

.profile-image {
    width: 250px;
    float: right;
    margin: 20px;
    border: 3px solid #0FA3B1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content {
    padding: 20px;
    overflow: hidden;
}

.content .h3 {
    margin-top: 20px;
}

.content .h6 {
    margin-top: 40px;
}

.next-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
}

.prev-btn {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 100;
}

#hobbiesCarousel img {
    max-height: 500px;
    object-fit: cover;
}

#skillsCarousel {
    max-width: 600px;
    margin-left: auto !important;
    margin-right: auto !important;
}

#skillsCarousel img {
    max-height: 500px;
    object-fit: cover;
}

#learningCarousel {
    max-width: 600px;
    margin-left: auto !important;
    margin-right: auto !important;
}

#learningCarousel img {
    max-height: 500px;
    object-fit: cover;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}